@import './Fonts.scss';



body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    background: url(./img/background.jpg) no-repeat center center fixed;
    background-size: cover;
    width: 100vw;
    max-width:100%;
    color: #1d1d1f;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.app-container {
    width: 100%;
    .weather-app {
        height: 100vh;
        display: flex;
        align-items: center;
        padding: 0 2rem;
        &-wrapper {
            width: 50rem;
            height: 30rem;
            margin: auto auto;
            padding: 1.5rem 0;
            text-align: center;
            background-color: #fff;
            border-radius: 1.5rem;
            position: relative;
        }
    }
}

.inline-link {
    color: #0066cc;
    text-decoration: none;
}
.inline-link:hover {
    text-decoration: underline;
    color: #1d1d1f;
}