@import './Fonts.scss';
@import './../components/Form/Form.scss';
@import './../components/Weather/WeatherData.scss';
@import './../components/Info/Info.scss';



body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    background: url(./img/background.jpg) no-repeat center center fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: #1d1d1f;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.app-container {
    width: 50rem;
    height: 30rem;
    margin: auto auto;
    padding: 1.5rem 0;
    text-align: center;
    background-color: #fff;
    border-radius: 1.5rem;
    position: relative;
}