h1 {
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0;
}

h3 {
    font-size: 0.75rem;
    line-height: 1.33337;
    font-weight: 400;
    letter-spacing: -.01em;
    margin: 0;
}